*{
	padding: 0px;
	margin: 0px;
	outline: 0px;
}
body {
  background: #f6f3ff none repeat scroll 0 0;
  font-family: arial;
}
.clear{overflow: hidden;}

.clear{overflow: hidden;}

.for_textarea {
	width: 900px;
	margin: 0 auto;
	background: #fff;
	margin-top: 30px;
	padding-bottom: 100px;
}

.for_textarea form {
	width: 300px;
	margin: 0 auto;
	margin-top: 15px;
}
.for_textarea h4 {
	/* color: #; */
	color: #274D34;
}
textarea {
	width: 350px;
}
button, input[type="submit"] {
	/* width: 351px; */
	background: #466C53;
	color: #fff;
	border: :0px;
	border: 0px;
	padding: 3px;
	/* padding-right: 97px; */
}
.skills{}
.skills p{}
