*{
	padding: 0px;
	margin: 0px;
	outline: 0px;
}
body {
  
  background: #f6f3ff none repeat scroll 0 0;
  font-family: arial;
}
.clear{overflow: hidden;}

.header {
  background: #466c53 none repeat scroll 0 0;
  padding: 8px;
}
.header_name{}
.header_name p {
  color: white;
  margin-left: 20px;
  font-size: 28px;
}

.search_box {
  margin-left: 160px;
  position: absolute;
  top: 15px;
}
/*#search img{width: 100px; height: 100px;}
#search input[type="text"]{
	margin: 0px;
outline: none;
border: 0px;
font: bold 12px Arial, Helvetica,Sans-serif;
text-shadow: 0 2px 2px rgba(0,0,0,0.3);
-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1),0 1px 3px rgba(0,0,0,0.2)inset;
-moz-box-shadow:0 1px 0 rgba(255,255,255,0.1),0 1px 3px rgba(0,0,0,0.2)inset ;
box-shadow: 0 1px 0 rgba(255,255,255,0.1),0 1px 0px rgba(0,0,0,0.2)inset;
height: 23px;
}
#search input[type="text"]:focus{
-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1),0 1px 3px rgba(0,0,0,0.9)inset;
-moz-box-shadow:0 1px 0 rgba(255,255,255,0.1),0 1px 3px rgba(0,0,0,0.9)inset ;
box-shadow: 0 1px 0 rgba(255,255,255,0.1),0 1px 0px rgba(0,0,0,0.9)inset;
text-shadow: 0 2px 3px rgba(0,0,0,0.1);
}*/

.search_result {
  background: #fff none repeat scroll 0 0;
  margin-left: 174px;
  width: 346px;
}
 input[name="search"]{
  color: red;
 }
.search_result p{margin-left: 30px;}

.signup_form {
  /* display: block; */
  margin: 20px auto 10px auto;
  width: 300px;
}
h2 {
  color: #466c53;
  font-size: 18px;
  margin: 2px;
  padding: 3px 14px 3px 24px;
  padding-left: 2px;
  margin-bottom: 19px;
  font-size: 23px;
}
input[type="text"] ,input[type="password"]{
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  color: gray;
  height: 28px;
  outline: medium none;
  width: 345px;
  font-size: 100%;
  font-style: oblique;
}
button[name="search_button"] {
  border: 0px;
  color: darkred;
  background: #466C53;
  font-size: 20px;
}
input[name="search"]:hover{
  background:#627482;
  border:1px solid #fff;
  color:#fff;
}

input[name="search"]:focus{
  background:#627482;
  border:1px solid #fff;
  color:#fff;
  border:none;
}

button[name="search-result-btn"]{
  border: 0px;
  background: #fff;
  font-size: 20px;
  margin-bottom: 2px;
}

input[type="text"]:hover{
	border:1px solid #466C53;
}



input[type="password"]:hover{
	border:1px solid #466C53;
}

input[type="submit"] {
  background: #466c53 none repeat scroll 0 0;
  border: 1px solid #363636;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  height: 27px;
  width: 66px;
  margin-left: 5px;
  margin-top: 10px;
}


.nav_section {
  min-height: 38px;
}
.nav_section ul{margin: 0px; padding:0px;list-style: none;float: right;}
.nav_section ul li {
  position: relative;
  display: block;
  margin-top: 6px;
  padding-right: 4px;
}
.nav_section ul li a {
  background: #000 none repeat scroll 0 0;
  color: #fff;
  padding: 6px;
  text-decoration: none;
  padding-top: 4px;
}
#active{background:#31573E;}
.content{}


.all_groups {
  float: left;
  margin-left: 62px;
  width: 500px;
}
.all_groups pre{
  /* float: right; */
  /* margin-right: 181px; */
  /* margin-left: -69px; */
  /* margin-top: 15px; */
  background: #466C53;
  padding: 10px;
  width: 244px;
  font-size: 100%;
  color: #fff;
}
.your_groups {

}

.your_groups h3, .all_groups h3 {
  margin-top: 20px;
  background: #31573E;
  width: 266px;
  text-align: center;
  color: #fff;
}
.your_groups p, .all_groups p {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #cecece;
  float: left;
  padding: 7px;
  text-decoration: none;
  width: 250px;
}
.your_groups p a, .all_groups p a {
  color: #525852;
  font-size: 18px;
  margin: 19px;
  text-decoration: none;
}
input[name="nnnn"] ,input[name="nnn"]{
  background: none repeat scroll 0 0 #fff;
  border-radius: 0;
  color: #525852;
  font-family: sans-serif;
  font-size: 18px;
  margin-left: 0;
  text-align: left;
  width: 265px;
  border: 1px solid #cecece;
  padding-left: 23px;
  padding-bottom: 35px;
}
.creategroup {
  margin-top: 16px;
  text-align: right;
  float: right;
  margin-right: 70px;
}
.creategroup p {
  background: none repeat scroll 0 0 #466c53;
  border: 1px solid black;
  float: right;
  margin-right: 131px;
  margin-top: 7px;
  padding: 6px 20px 6px 7px;
  width: 123px;
  border-radius: 3px;
}
.creategroup p:hover{
	background: #31573E;
    border:1px solid #fff;
}
.creategroup p a {
  color: #ffffff;
  text-decoration: none;
}
.creategroup p a img {
  height: 12px;
  width: 27px;
}

.chatbox {
  float: right;
  margin-right: -355px;
  margin-top: 72px;
  min-height: 1000px;
  border-left: 1px solid #D6D6D6;
  width: 200px;
  z-index: 200;
}

.chatbox h4 {
  color: #cecece;
  font-family: arial;
  margin-left: 8px;
}

.contact-online{

}

.contact-online p{
  
}
.groupcreatingform {
  background: none repeat scroll 0 0 #ffffff;
  margin-left: 423px;
  margin-top: 72px;
  padding-bottom: 101px;
  padding-top: 28px;
  width: 557px;
}
.groupcreatingform table{}
input[name="groupname"] {
  border-radius: 0;
  margin-left: 82px;
  text-align: center;
  width: 384px;
  background: #F6F7F9;
  color: #000;
  padding-bottom: 8px;
  font-size: 100%;
}
input[name="create"] {
  border-radius: 0;
  font-size: 20px;
  width: 388px;
  margin-left: 82px;
}

.nav {
  height: 30px;
  margin-right: 55px;
  padding-top: 19px;
  position: absolute;
  right: 0;
  top: 0;
}


.nav a {
  color: #ffffff;
  text-decoration: none;
  padding-right: 16px;
}
.nav a p{}
.nav a:hover{
  background-color: #31573e;
  padding: 10px;
  border-radius: 10px;
}
.nav img {
  border-radius: 6px;
}

.notify{float: right;background:none;}
button[name="notify"] {
  background: none;
  border: 0px;
  font-size: 23px;
  margin-right: 19px;
}

.suggest_friends_main {
  width: 526px;
  margin: 0 auto;
  margin-right: 377px;
  background: #fff;
  margin-top: 30px;
  padding-bottom: 50px;
}
.suggest_gname{}
.suggest_gname h3 {
  background: #466C53;
  text-align: center;
}
.friends_to_suggest {
  background: #fff;
  width: 278px;
  margin: 0 auto;
  margin-top: 10px;
}
.friends_to_suggest p {
  background: #E1E1E1;
  width: 269px;
  /* padding: 5px; */
  padding-left: -2px;
  padding-bottom: 13px;
}
button[name="suggest-btn"] {
  background: #466C53;
  border: 0px;
  margin-bottom: 2;
  margin-bottom: 12px;
  color: #fff;
  padding: 5px;
  font-size: 100%;
}




button[name="delete_group"] {
  background: none repeat scroll 0 0 #e60305;
}

.delete_button p {
  margin-top: -15px;
  width: 117px;
}
.delete_button{
position: relative;
display: inline-block;
}
.delete_button_nav{ display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .delete_button:hover .delete_button_nav{
    display: block;
  }


button[name="join_btn"]{
  border-radius: 0;
  float: left;
  font-size: 17px;
  margin-left: 0;
  padding-bottom: 5px;
  text-align: center;
  width: 104px;
  border-bottom: 3px solid #000;
  background: #466C53;
  margin-bottom: 19px;
}

button[name="joined-btn"]{
  border-radius: 0;
  float: left;
  font-size: 17px;
  margin-left: 0;
  padding-bottom: 5px;
  text-align: center;
  width: 104px;
  border-bottom: 3px solid #000;
  background: #466C53;
  margin-bottom: 19px;
  color:#fff;
}



.output {
  /* float: right; */
  background: red;
  width: 300px;
  margin-left: 64px;
  /* font-size: 100%; */
}
.output p {
  /* background: red; */
  color: #fff;
  padding: 7px;
  padding-left: 37px;
  padding-right: 8px;
  text-align: center;
  margin-top: 4px;
}




button[name="suggest_friends"] {
  background: none repeat scroll 0 0 #636381;
  border-radius: 1px;
  color: black;
  margin-bottom: 6px;
  width: 128px;
  margin-bottom: 18px;
}

.notification_main {
  margin: 0 auto;
  width: 523px;
  margin-top: 22px;
  background: #fff;
  margin-right: 400px;
}
.notification_box {
  margin: 6px;
  border: 1px solid #F6F3FF;
}
.notification_box p {
  background: #466C53;
  padding: 4px;
}

.notification_box p a {
  text-decoration: none;
  color: #fff;
  padding-left: 25px;
  /* padding-bottom: 29px; */
  /* margin-bottom: 27px; */
}

.notification_box p button {
  width: 500px;
  text-align: left;
  background: #466C53;
  border: 0px;
  color: #fff;
}
button[name="accept"], button[name="decline"] {
  background: #466C53;
  margin-bottom: 20px;
  color: #fff;
  font-size: 100%;
  border: 0px;
  margin-right: 10px;
}

.about_main {
  background: #fff;
  width: 700px;
  margin: 0 auto;
  border: 1 px dotted black;
  margin-top: 30px;
  border: 1 px solid #466C53;
  /* font-family: times-new; */
}
.about_main h3 {
  color: teal;
}
.about_main p {
  color: #365C43;
  margin: 4px;
}
.main {
  width: 900px;
  margin: 0 auto;
  background: #fff;
  margin-top: 10px;
}
.main h4 {
  background: #466C53;
  padding: 10px;
  margin: 14px;
}
.main a, .main p {
  margin: 14px;
  text-decoration: none;
  color: #283885;
  border-bottom: 1px solid aliceblue;
  /* border-width: 185px; */
}
.profile_pic {
  width: 172px;
  /* background: red; */
  float: left;
  /* text-decoration: none; */
  background: #fff;
  padding: 10px;
}* text-decoration: none; */
}
.username_showing{}
.work{margin-top: 120px;}
.about_you {
  margin-bottom: 60px;
}
.education ul li{border-bottom: 1px solid aliceblue;
}
.footer h2 {
  background: #466C53;
  color: #fff;
  margin-bottom: 0px;
  text-align: center;
  font-family: sans-serif;
}
.upload_pic_main {
  margin: 0 auto;
  width: 286px;
  background: #fff;
  margin-top: 40px;
}
input[name="file"] {
  font-size: 16px;
  /* background: #466C53; */
  margin: 2px;
}
input[name="file"]:hover{background: #466C53}
button[name="upload"] {
  background: #466C53;
  border: 0px;
  /* padding-right: 130px; */
  width: 300px;
  font-size: 100%;
  color: #fff;
}

.in_block{}
.in_block p {
  color: #D1582C;
}
.in_block pre{color: black;}

.side_block {
  float: right;
  margin-top: -50px;

}
.side_block p {
  border: 0px;
  color: #D8582C;
}

.settings_main {
  width: 600px;
  background: #fff;
  margin: 0 auto;
  margin-top: 16px;
}

.change_setting {
  border-bottom: 1px solid #466C53;
  padding-bottom: 15px;
  margin-bottom: 18px;
  margin: 22px;
}

.settings_main a{text-decoration: none;color:black;}
a[name="edit"] {
  float: right;
  margin-right: 18px;
  margin-top: -11px;
}

.settings_main a:hover{background:#466C53;}
.settings_main input[type="text"]{

}
.settings_main h3 {
  background: #466C53;
  color: #fff;
  font-size: 18px;
}

.settings_main button {
  width: 598px;
  padding: 3px;
  background: #466C53;
  border: 0px;
  font-size: 100%;
  color: #fff;
  margin-top: 23px;
  margin-bottom: 28px;
}

.settings_main button:hover {
  color: black;
  background: #2B5138;
}

.add_mem {
  width: 400px;
  margin: 0 auto;
  background: #fff;
  margin-top: 30px;
}
.add_mem_head {
  width: 200px;
  margin: 0 auto;
  background: #466C53;
  color: #fff;
  padding-left: 200px;
}
.add_mem_head h2 {
  color: #fff;
  margin-left: 2px;
  /* margin-top: 2px; */
  /* padding-top: -7px; */
}
.add_mem_body {
  width: 200px;
  margin: 0 auto;
}



button[name="add-btn"] {
  background: #466C53;
  border: 0px;
  padding: 2px;
  color: #fff;
}

button[name="prof-name-btn"]{
  background: #D2D2D2;
  margin-top: 15px;
  padding-right: 30px;
  width: 200px;
  padding:10px;
}

.comments{}
.comments p {
  background: none;
  background: none !important;
  padding: none;
  padding: none !important;
  padding: 0px;
  padding: 0px !important;
  margin: 0px !important;
  display: inline;
  /* margin-left: -28px; */
}
.comments h5 {
  display: inline;
  color: #466C53;
  font-size: 16px;
  /* font-family: sans-serif; */
}

.members{}
.g_members {
  width: 400px;
  margin: 0 auto;
  background: #fff;
  margin-top: 30px;
}
.g_members p {
  text-align: center;
  font-size: 20px;
}

button[name="group-member-name-btn"]{

  border:0px;
  width:400px;
}


.output_showing {
  background: red;
  padding: 6px;
  text-align: center;
  width: 200px;
  margin-left: 578px;
  margin-top: 10px;
  color: #fff;
  font-size: 20px;
  font-family: sans serif inherit;
}

button[name = "remove-request"]{
  color: magenta;
  font-size: 100%;
  font-family: railway ;
  background:#fff;
}

